<div id="cristianRojas" class="pl-4 pr-4">
	<div style="background-color: #0c1535;"class="font-sans container mx-auto mb-12 text-white rounded-lg shadow-xl">
		<div class="pt-4 pb-4 pl-8 pr-8 ">
			<h3 class="mb-4 font-mono font-normal text-2xl">
				<span class="text-pink-400">var</span>
				<span class=""> cristianRojas</span>
				<span class="ml-2 mr-2">:</span>
				<span class="text-green-500">Candidat</span>
				<span>=</span>
				<span class="text-green-500">Candidat</span>	
				<span class="">(</span>
			</h3>
			 
			 <div class="ml-16 font-mono">
			 	<p>name: <span class="text-green-500"><a href="#name">name</a></span>,</p>
			 	<p>greeting: <span class="text-green-500"><a href="#greetings">greeting</a></span>,</p>
			 	<p>photo: <span class="text-green-500"><a href="../../assets/images/cv-photo.png"><img class="inline w-6" src="assets/images/cv-photo.png" alt="" /></a></span>,</p>
			 	<p>skills: <span class="text-green-500"><a href="#skills">mesCompétences</a></span>,</p>
			 	<p>hardSkills: <span class="text-green-500"><a href="#hardSkills">hardSkills</a></span>,</p>
			 	<p>softSkills: <span class="text-green-500"><a href="#softSkills">softSkills</a></span>,</p>
			 	<p>hobbies: <span class="text-green-500"><a href="#hobbies">mesIntérêts</a></span>,</p>
			 	<p>langues: <span class="text-green-500"><a href="#langues">langues</a></span></p>
			 </div>
			 <p class="mb-4 font-mono font-normal text-2xl">)</p>
			
		</div>	 
		<div class="text-right font-sans text-sm font-bold tracking-wide mb-24">
		 	<p class="bg-yellow-200 rounded-b-lg text-yellow-800 p-2 font-mono "><a href="//linkedin.com/in/cristianfrojas">⚠️ Initialization of immutable value 'cristianRojas' was never used; consider setting up an interview</a></p>
		 </div>
	</div>
</div>