<div id="class" class="font-sans container mx-auto p-2 mb-12">
	<h3 class="mb-4 font-mono font-normal text-2xl">
		<span class="text-pink-400">class</span>
		<span class="text-blue-400">Candidat</span>
		<span class="ml-2 mr-2">:</span>
		<span class="text-purple-500">NSObject</span>
		<span class="text-gray-800">{</span>
	</h3>
	 
	 <div class="ml-16 font-mono">
	 	<div class="self-variables">
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> name</span>: <span class="text-purple-500">String</span>!</p>
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> age</span>:  <span class="text-purple-500">Int</span>!</p>
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> photo</span>: <span class="text-purple-500">UIImage</span>!</p>
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> skills</span>: [<span class="text-purple-500">String</span>]!</p></p>
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> hardSkills</span>: [<span class="text-purple-500">String</span>]!</p></p>
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> softSkills</span>: [<span class="text-purple-500">String</span>]!</p></p>
	  			<p><span class="text-pink-400">var</span><span class="text-blue-500"> langues</span>: [<span class="text-purple-500">String</span>]!</p></p>
	 			<p><span class="text-pink-400">var</span><span class="text-blue-500"> hobbies</span>: [<span class="text-purple-500">String</span>]!</p></p>
	 	</div>
	 	<div class="mt-4 class_init">
	 		<p><span class="text-pink-500">init</span>(name: <span class="text-purple-500">String</span>,</p> 
	 		<div class="ml-12">
	 			<p>photo: <span class="text-purple-500">UIImage</span>, </p>
	 			<p>skills: [<span class="text-purple-500">String</span>], </p>
	 			<p>hardSkills: [<span class="text-purple-500">String</span>], </p>
	 			<p>softSkills: [<span class="text-purple-500">String</span>], </p>
	 			<p>hobbies: [<span class="text-purple-500">String</span>:<span class="text-purple-500">String</span>],</p> 
	 			<p>langues: [<span class="text-purple-500">String</span>:<span class="text-purple-500">String</span>]) {</p>
	 		</div>
	 	</div>


		<div class="mt-4 ml-12 init_associations">
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">name</span> = name</p>
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">photo</span> = photo</p>
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">skills</span> = skills</p>
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">hardSkills</span> = hardSkills</p>
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">softSkills</span> = softSkills</p>
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">hobbies</span> = hobbies</p>
			<p><span class="text-pink-500">self</span>.<span class="text-teal-600">langues</span> = langues</p>
		</div>
		<div>
			<p class="mb-4 font-mono font-normal text-2xl">}</p>
		</div>

	 </div>
	 
	 	 

	 <p class="mb-4 font-mono font-normal text-2xl">}</p>
</div>