	<div id="description">
	   		<h1 id="name" class="font-sans font-bold text-xl mb-0 text-right"><span class="text-pink-400">let</span><span class="text-blue-400"> name</span> = <span class="text-red-400"> "Cristian Rojas"</span></h1>
	   				   			
	   		<h2 id="greetings" class="text-xl font-bold font-sans text-right mb-8"><span class="text-pink-400">var</span><span class="text-blue-400"> greeting</span> = <span class="text-red-400"> "👋"</span></h2>
	   				
	   			
	   		<div class="flex justify-end">
	   		  <div class="text-right max-w-5xl font-sans text-xl text-gray-700 home"><a href="//beelearner.com">Autodidacte</a> et passionné depuis toujours par le numérique, j'ai acquis au cours de ces années des <a href="#skills">compétences</a> dans le <a href="#" class="font-bold">développement d'applications iOS</a> et la création de sites internet. <span class="font-bold">Créatif</span> et <span class="font-bold">technique</span> je souhaite intégrer un poste de Développeur Swift Junior en alternance</div>
	   		</div>
	   		
</div>
