<div id="hardSkills" class="mt-12 text-left font-mono tracking-wider">
	 			<h3 class="mb-4 font-mono font-normal text-2xl"><span class="text-pink-400">var</span> <span class="text-blue-400 ml-2">hardSkills</span><span class="ml-4 mr-4">:</span>[<span class="text-purple-400">String</span>] = [</h3>
	 			<div class="ml-16">
	 				<div><a href="#" class="text-red-700">"DigitalOcean"</a>,</div>
	 					<div><a href="#" class="text-red-700">"Statamic"</a>,</div>
	 					<div><a href="#" class="text-red-700">"Nginx"</a>,</div>
	 					<div><a href="#" class="text-red-700">"Ligne de commande"</a></div>	 		
	 					<div><a href="#" class="text-red-700">"Tailwind"</a></div>
	 					<div><a href="#" class="text-red-700">"Adobe Xd"</a></div>
	 					
	 				
	 			</div>
	 			<p class="mb-4 font-mono font-normal text-2xl">]</p>
	 	</div>
