<div id="skills" class="mt-64 text-left font-mono tracking-wider">
	 		<h3 class="mb-4 font-mono font-normal text-2xl"><span class="text-pink-400">var</span> <span class="text-blue-400 ml-2">mesCompétences</span><span class="ml-4 mr-4">:</span>[<span class="text-purple-400">String</span>] = [</h3>

			<div class="pl-16">
					<div class=""><a href="#" class="text-red-700">"Swift"</a>,</div>
					<div><a href="#" class="text-red-700">"Core Data"</a>,</div>
					<div><a href="#" class="text-red-700">"Git"</a>,</div>
					<div><a href="#" class="text-red-700">"HTML"</a>,</div>
					<div><a href="#" class="text-red-700">"CSS/SASS"</a>,</div>
				
			</div>
	 		<p class="font-normal text-2xl">]</p>
</div>
