<div id="softSkills" class="mt-12 text-left font-mono tracking-wider">
	 				<h3 class="mb-4 font-mono font-normal text-2xl"><span class="text-pink-400">var</span> <span class="text-blue-400 ml-2">softSkills</span><span class="ml-4 mr-4">:</span>[<span class="text-purple-400">String</span>] = [</h3>
	 				<div class="ml-16">
	 					<div><a href="#" class="text-red-700">"Créatif"</a>,</div>
	 						<div><a href="#" class="text-red-700">"Patient"</a>,</div>
	 						<div><a href="#" class="text-red-700">"Empathique"</a></div>	
	 						
	 					
	 				</div>
	 				<p class="mb-4 font-mono font-normal text-2xl">]</p>
</div>
